*{
    padding: 0;
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background: red;
    top:0;
    left:-200px;
    position: relative;
}

div span{
    width:20px;
    height: 50px;
    background: blue;
    position: absolute;
    left: 200px;
    top:75px;
}