* {
    padding:0;
    margin:0;
}

#test{
    background: #0DA07D;
    width:20%;
    margin:0 auto;
}

.hide{
    display: none; 
    /* 隐藏，且不占据原来的位置 */
}

.on{
    background:#35DF2B;
}

ul {
    list-style: none;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
    display: block;
    width:33.3333333333%;
    font-weight: bolder;
}

    li:hover{
        cursor: pointer;
    }
